.game{
    height: calc(100vh - 75px - 20px);
    display: flex;
    flex-direction: column;
}

#game-user-info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 125px;
}

.game-info-user{
    display: flex;
    gap: 20px;
}

.game-info-user>.game-user-img{
    width: 125px;
    height: 125px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.game-info-user>.game-user-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#game-info-user-o>.game-user-info{
    text-align: right;
}

.game-user-info>.game-user-name{
    font-size: 30px;
    font-weight: bold;
}

.game-user-info>.game-user-level{
    transform: translateY(-15px);
}

.game-user-info>.game-user-player{
    font-size: 20px;
}

.game-user-info>.game-user-player>span{
    font-size: 30px;
    font-weight: bold;
}

.game-info-item{
    font-size: 20px;
}

.game-info-item span{
    font-size: 36px;
    font-weight: bold;
}

.game-info-item>#game-info-turn{
    transform: translateY(-10px);
}

.game-info-item>#game-info-player{
    transform: translateY(-25px);
}

.game-info-item>#game-info-category{
    font-size: 20px;
    margin-bottom: 10px;
}

#game-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* width: 100vw; */
}

#game-box>div>div{
    display: flex;
}
#game-info-time{
    font-size: 24px;
    justify-content: center;
    margin-bottom: 20px;
}

.game-item{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-item > div{
    width: 125px;
    height: 125px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.game-item > div:hover{
    cursor: pointer;
}

.game-item > div > img{
    width: 100%;
}

/* .game-item > div > div{
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    color: white;
    line-height: 16px;
    background-color: hsl(0, 100%, 0%, .50);
} */

#row-1-col-1, #row-2-col-1, #row-3-col-1, #row-1-col-2, #row-2-col-2, #row-3-col-2{
    border-right: 2px solid black;
}

#row-1-col-1, #row-1-col-2, #row-1-col-3, #row-2-col-1, #row-2-col-2, #row-2-col-3{
    border-bottom: 2px solid black;
}

#profile-exp{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#profile-exp>#profile-exp-info{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

#profile-exp>#profile-exp-progress-bar{
    width: 100%;
    height: 20px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

#profile-exp>#profile-exp-progress-bar>div{
    width: var(--exp-percent);
    height: 20px;
    background-color: var(--color3);
    transition: 1s;
}

#level-up-number{
    font-size: 150px;
}

#vocabModalLabel{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#vocabModalLabel .vocabModal-time{
    margin-right: 10px;
}

#imganswer{
    width: 100%;
}
.modal-body{
    display: flex;
    flex-direction: column;
}
#ansfill{
    display: flex;
    justify-content: center;
}
#ansfill p{
    padding: 5px;
    margin: 0 !important;
    font-size: 2rem;
}
#feedback-msg-answer{
    display: flex;
    justify-content: end;
}